*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #767070;
    font-family: 'Raleway', sans-serif;
}

body
{
    background-color: #f9f9f9;
}

.raleway_bold
{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.raleway_regular
{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}


.standard_width
{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.top_container
{
    background-color: #191d20;
    width: 100%;
    z-index: 99;
    position: relative;
}
.top
{
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.top_left
{
    display: flex;
}

.social_icon
{
    height: 40px;
    width: 40px;
    background-color: #333739;
    margin-right: 1px;
    text-decoration: none;
    display: grid;
    place-items: center;
}

.social_icon i
{
    color: #191d20;
    font-size: 20px;
}

.social_icon:hover
{
    background-color: #474c4f;
}

.social_icon:hover i
{
    color: #fff;
}

.top_right
{
    display: flex;
    align-items: center;
}

.top_right > span
{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}

.navigation_container
{
    background-color: #fff;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    position: relative
}

.navigation
{
    width: 100%;
    height: 67px;
    border-top: 1px dashed #d7d7d7;
    border-bottom: 1px dashed #d7d7d7;
}

.menu nav
{
    display: flex;
    width: 100%;
}
.menu
{
    height: 100%;
    display: flex;
    align-items: center;
}
.menu ul
{
    display: flex;
    align-items: center;
}
.menu_left, .menu_right
{
    width: 435px;
    display: flex;
    justify-content: space-evenly;
}

.menu ul i
{
    font-size: 9px;
}
.menu li
{
    list-style: none;
}

.menu li a
{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.menu li a:hover
{
    color: #fe0000;
}

.logo_container
{
    width: 300px;
    height: 85px;
    display: flex;
    justify-content: center;
}

.logo_bg
{
    z-index: 99;
    height: 152px;
    width: 300px;
    position: relative;
    filter: drop-shadow(0 7px 7px rgba(0,1,1,0.35));
}

.back_logo_bg
{
    display: flex;
    justify-content: center;
    position: relative;
    top: -85px;
    z-index: -1;
}

.back_logo_bg img
{
    position: absolute;
}

.logo
{
    position: absolute;
    z-index: 99;
    top: calc(50% - 6px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_name
{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #2a2525;
    white-space: nowrap;
}

.line_red
{
    width: 100%;
    height: 2px;
    background-color: #ff1200;
}

.slogan
{
    font-size: 20px;
    color: #2a2525;
    white-space: nowrap;
    font-weight: 600;
}



.slider_container
{
    background-color: #cccccc;
    height: 600px;
}

.slider_container
{
    background-image: url(../images/bg_slide.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.slide_btn
{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.slide_btn i
{
    color: #fff !important;
    font-size: 14px;
}

.slide_btn:hover
{
    background-color: #ff0000;
    
    border: 1px solid #ff0000;
}

.slide_content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide_content h1, 
.slide_content span, 
.slide_content h2, 
.slide_content a
{
    color: #fff !important;
    font-size: 36px
}

.slide_content h1
{
    font-weight: 400;
    margin-bottom: 14px;
}

.slide_content span, .slide_content h2
{
    font-weight: 700;
}

.slide_content h2
{
    font-size: 25px;
    margin-bottom: 45px;

}


.btn_white_red
{
    font-size: 14px !important;
    font-weight: 700 !important;
    text-decoration: none;
    padding: 15px 65px 15px 65px;
    border: 1px solid #fff !important;
    color: #fff;
    cursor: pointer;
}

.btn_white_red:hover
{
    border: 1px solid #ff0000 !important;
    background-color: #ff0000; 
}


.btn_red
{
    font-size: 14px !important;
    font-weight: 700 !important;
    text-decoration: none;
    padding: 16px 48px 16px 48px;
    border: 1px solid #ff0000;
    color: #ff0000 !important;
    display: block;
    width: fit-content;
    cursor: pointer;
}

.btn_red:hover
{
    background-color: #ff0000;
    color: #fff !important;
}


.btn_white
{
    font-size: 14px !important;
    font-weight: 700 !important;
    text-decoration: none;
    padding: 16px 48px 16px 48px;
    border: 1px solid #fff;
    color: #fff !important;
    display: block;
    width: fit-content;
}

.btn_white:hover
{
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
    color: #fff !important;
}


.btn_red_black
{
    font-size: 14px !important;
    font-weight: 700 !important;
    text-decoration: none;
    padding: 16px 48px 16px 48px;
    border: 1px solid #ff0000;
    color: #767070 !important;
    display: block;
    width: fit-content;
    cursor: pointer;
}

.btn_red_black:hover
{
    background-color: #ff0000;
    color: #fff !important;
}


.standard_section
{
    padding-top: 90px;
    padding-bottom: 90px;
}

.welcome_container, 
.gallery_container, 
.menu_container,
.team_container > div,
.blog_container > div,
.customers
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome_container.standard_section 
{
    padding-bottom: 100px;
}

.title
{
    font-size: 40px;
    margin-bottom: 27px;
    text-align: center;
}


.welcome_container .right .title
{
    text-align: left;
    margin-bottom: 23px;
}

.title_black, .title_black span
{    
    color: #322d2d !important;
}

.title_white, .title_white span
{    
    color: #fff !important;
}

.description_white
{
    color: #fff !important;
}

.description_bdbcbc
{
    color: #bdbcbc !important;
}

.description
{
    max-width: 970px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 8px;
}

.cards_welcome_container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
    margin-bottom: 92px;
}

.card
{
    width: 273px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_card
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ff0000;
    background-repeat: no-repeat;
    background-position: center;

}

.card:hover .icon_card 
{
    background-color: #ff0000;
}


.meet
{
    background-image: url(../images/fresh_meet.png);
}

.card:hover .meet
{
    background-image: url(../images/fresh_meet_white.png);
}


.bread
{
    background-image: url(../images/bread.png);
}

.card:hover .bread
{
    background-image: url(../images/bread_white.png);
}


.salads
{
    background-image: url(../images/salad.png);
}

.card:hover .salads
{
    background-image: url(../images/salad_white.png);
}

.drinks
{
    background-image: url(../images/drinks.png);
}

.card:hover .drinks
{
    background-image: url(../images/drinks_white.png);
}


.card:hover .title_card
{
    color: #ff0000 !important;
}

.title_card
{
    font-size: 20px;
    color: #322d2d !important;
    margin-top: 24px;
    margin-bottom: 9px;
}

.description_Card
{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    text-align: center;
}

.two_colmuns
{
    width: 100%;
    display: flex;
}
.two_colmuns .left
{
    flex: 1;
    padding-right: 15px;
}

.two_colmuns .right
{
    flex: 1;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.two_colmuns .description
{
    text-align: left;
    margin-top: -4px;
    margin-bottom: 30px;
    line-height: 27px;
}



.img_outline
{
    position: relative;
    height: 450px;
}


.outline_red
{
    width: 430px;
    height: 410px;
    border: 3px solid #ff0000;
}

.outline_white
{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 390px;
    height: 370px;
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: #fff;
    
}

.placehold
{
    z-index: -1;
    position: absolute;
    top: 40px;
    left: 40px;
    width: 430px;
    height: 410px;
    background-image: url(../images/recommends.png);
    background-size: cover;
}

.whatis_container
{
    background-color: #000;
}

.whatis_container .left .title
{
    text-align: left;
}

.whatis_container .left.standard_section
{
    padding-bottom: 100px;
}

.whatis_container .right
{
    background-image: url(../images/whatis_img.fw.png);
    background-size: cover;
    margin-left: 15px;
    padding-left: 0;
}



.segments
{
    display: flex;
    margin-top: 68px;
    margin-bottom: 50px;
}

.segments .btn_red_black
{    
    width: 150px;
    padding: 16px 0px 16px 0px;
    display: flex;
    justify-content: center;
}

.segments > div
{
    margin-right: 10px;
}

.segments > div:nth-last-child(1)
{
    margin-right: 0px;
}


.gallery_cards
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 50px;
}

.gallery_card
{
    width: 270px;
    height: 270px;
    border: 2px solid #ececec;
    position: relative;
    cursor: pointer;
}

.gallery_card:hover
{
    filter: drop-shadow(0 7px 7px rgba(0,1,1,0.35));
}

.gallery_card:hover .overlay_red
{
    display: flex;
}

.overlay_red
{
    display: none;
    width: 266px;
    height: 266px;
    position: absolute;
    z-index: 99;
    background-color: rgba(255, 18, 0, 0.85);
    justify-content: center;
    align-items: center;
}

.icon_outline
{
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-image: url(../images/link_gallery.png);
    background-repeat: no-repeat;
    background-position: center;
}


.see_what.standard_section
{
    padding-top: 98px;
    padding-bottom: 110px;
}
.see_what
{
    background-image: url(../images/see_what.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.see_what .title
{
    max-width: 630px;
    text-align: center;
    margin-bottom: 43px;
}

.menu_container
{
    width: 100%;
    margin-bottom: 48px;
}

.menu_container.standard_section
{
    margin-bottom: 0;
    padding-top: 88px;
    padding-bottom: 100px;
}



.row_menu
{
    display: flex;
    height: 80px;
    background-color: #ececec;
    margin-bottom: 1px;
    cursor: pointer;
}
.row_menu:hover
{
    background-color: #333739;
}

.row_menu:hover .column_a,
.row_menu:hover .column_b,
.row_menu:hover .column_c
{
    color: #fff !important;
}

.column_a
{
    width: 270px;
    height: 100%;
    font-weight: 700;
    font-size: 20px;
    color: #322d2d !important;
    display: flex;
    align-items: center;
    padding-left: 30px;

}

.column_b
{
    width: 800px;
    height: 100%;
    font-weight: 400;
    font-size: 20px;
    color: #322d2d !important;
    display: flex;
    align-items: center;
}

.column_c
{
    width: 100px;
    height: 100%;
    font-weight: 700;
    font-size: 20px;
    color: #322d2d !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
}

.other_services_container .standard_width
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other_services_container.standard_section
{
    padding-bottom: 105px;
}



.other_services_container
{
    background-color: #191d20;
}

.other_services_container img
{
    width: 500px;
    height: auto;
    margin-top: 25px;
}

.other_services_container .topic
{
    height: 50px;
    border: 1px solid #494e51;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}


.other_services_container .topic:hover
{
    background-color: #ff0000;
    border: 1px solid #ff0000;
}


.other_services_container .topic:nth-child(1)
{
    margin-top: 0;
}

.other_services_container .topic p,
.other_services_container .topic i
{
    font-size: 14px;
    color: #ffffff !important;
    font-weight: 700;
}

.other_services_container .answer_topic
{
    border: 1px solid #494e51;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #bdbcbc !important;
    padding: 32px 40px 32px 40px;
    display: none;


}


.other_services_container .two_colmuns .right
{
    justify-content: flex-start;
}

.other_services_container .two_colmuns
{
    margin-top: 65px;
}

.team_container
{
    background-color: #ececec;
}

.team_cards
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 68px;

}

.team_card
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team_img
{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 2px solid #ff1200;
    position: relative;
    cursor: pointer;
}

.team_img img
{
    width: 266px;
    height: 266px;
    border-radius: 50%;
}


.team_title
{
    font-size: 20px;
    color: #322d2d !important;
    margin-top: 20px;
}

.team_description
{
    font-size: 14px;
    color: #767070;
    font-family: 'Open Sans', sans-serif;
}

.team_img:hover .team_overlay_red
{
    display: flex;
}

.team_overlay_red
{
    display: none;
    width: 266px;
    height: 266px;    
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    background-color: rgba(255, 18, 0, 0.85);
    justify-content: center;
    align-items: center;
}

.team_container .two_colmuns
{
    margin-top: 60px;
}

.skill_title
{
    font-size: 14px;
    color: #322d2d !important;
}

.skill_progress_bg
{
    width: 100%;
    height: 10px;
    background-color: #dcdcdc;
    margin-top: 7px;
    margin-bottom: 15px;
}

.skill_progress
{
    height: 10px;
    background-color: #ff0000;
    display: flex;
    justify-content: flex-end;
}

#skillProgress1
{
    width: 95%;
}

#skillProgress2
{
    width: 86%;
}

#skillProgress3
{
    width: 90%;
}

#skillProgress4
{
    width: 83%;
}

#skillProgress5
{
    width: 80%;
}

.skill_progress p
{
    margin-top: -23px;
    font-size: 14px;
    font-weight: 700;
    color: #322d2d !important;
}

.team_container .two_colmuns .left
{
    margin-top: 35px;
}

.team_container .two_colmuns .right
{
    display: flex;
    align-items: center;
}
.team_container .two_colmuns .right img
{
    width: 369px;
}

.team_container.standard_section 
{
    padding-bottom: 31px;
}
.blog_container
{
    background-color: #191d20;
}

.blog_container.standard_section
{
    padding-bottom: 122px;
}

.posts
{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    margin-top: 70px;
}

.post
{
    position: relative;
    width: 372px;
    display: flex;
    flex-direction: column;
    border: 1px solid #262c30;

}

.post a
{
    text-decoration: none;
}

.post:hover
{
    background-color: #fff;
}

.post:hover .post_title
{
    color: #322d2d !important;
}

.post:hover .post_postby
{
    color: #9e9e9e !important;
}

.post:hover .post_description
{
    color: #767070 !important;
}

.post:hover .btn_white
{   
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
    color: #fff !important;

}


.post img
{
    margin-bottom: 20px;
}

.post_title
{
    font-size: 20px;
    font-weight: 700;
    color: #fff !important;
    padding-left: 29px;
    padding-right: 29px;
    margin-bottom: 23px;
}

.post_postby
{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #d3d3d3 !important;
    padding-left: 29px;
    padding-right: 29px;
    margin-bottom: 21px;
}

.post_description
{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #fff !important;
    padding-left: 29px;
    padding-right: 29px;
    margin-bottom: 60px;

}

.post .btn_white
{
    position: absolute;
    background-color: #191d20;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #262c30;
    
}

.customers_width
{
    overflow: hidden;
    margin-top: 68px;
    margin-bottom: 51px;
}
.customers_cards
{
    display: flex;
}

.customers_card
{
    display: flex;
    min-width: 570px;
    height: fit-content;
    margin-right: 30px;
    border: 1px solid #d4d4d4;
    border-radius: 9px;
    
    padding-top: 29px;
    padding-bottom: 21px;
}

.customer_pic
{
    width: 158px;
    display: flex;
    justify-content: center;
    
}
.customer_pic_img
{
    display: grid;
    place-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ff1200;
    overflow: hidden;
}

.customer_testimonial_container
{
    flex: 1;
}

.customer_testimonial_container h3
{
    font-size: 20px;
    font-weight: 400;
    margin-top: -4px;
}

.customer_testimonial_container h4
{
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ff1200;

}
.customer_testimonial_container p
{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #767070;
}

.customers.standard_section
{
    padding-top: 92px;
    padding-bottom: 100px;
}

.dots
{
    display: flex;

}

.dot
{
    width: 15px;
    height: 15px;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.dot:hover
{
    background-color: #ff1200;
    border: 1px solid #ff1200;
}

.dot:nth-last-child(1)
{
    margin-right: 0;
}

.dot_active
{
    background-color: #ff1200;
    border: 1px solid #ff1200;
}

.reservation
{
    height: 180px;
    background-color: #191d20;
    
}

.reservation .two_colmuns
{
    height: inherit;
    display: flex;
}

.reservation .left
{
    width: fit-content;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reservation .left h4
{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}

.reservation .left p
{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}


.reservation .right
{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.reservation .right .btn_white_red
{
    width: 200px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
    margin-right: 11px;
}

.reservation .right .btn_white_red:nth-last-child(1)
{
    margin-right: 0;
}

.partners
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners .description
{
    max-width: none;
}

.partners_width
{
    overflow: hidden;
    margin-top: 68px;

}

.partners_cards
{
    display: flex;
}



.partners_card
{
    position: relative;
    min-width: 185px;
    height: 80px;
    background-color: #fafafa;
    border: 1px solid #d4d4d4;
    margin-right: 12px;
    display: grid;
    place-items: center;
    cursor: pointer;
}


.partners_card:nth-last-child(1)
{
    margin-right: 0;
}

.partners_card::after
{
    position: absolute;
    content: "";
    min-width: 183px;
    height: 78px;
    background-color: rgba(250, 250, 250, 0.7);
}

.partners_card:hover::after
{
    opacity: 0;
}

.partners .dots
{
    margin-top: 50px;
}

.partners.standard_section
{
    padding-bottom: 100px;
}

.newsletter
{
    background-color: #333739;
}

.newsletter_container
{
    height: 120px;
}

.newsletter .two_colmuns
{
    height: inherit;
}

.newsletter .two_colmuns .left
{
    font-size: 20px;
    font-weight: 700;
    color: #fefefe;
    display: flex;
    align-items: center;
}

.newsletter .two_colmuns .right
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.newsletter .two_colmuns .right input
{
    width: 375px;
    height: 50px;
    border: 1px solid #494e51;
    background-color: #333739;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    padding-left: 17px;
}

.newsletter .two_colmuns .right input:focus
{
    outline: none;
}

.newsletter .two_colmuns .right input::placeholder
{
    font-size: 14px;
    font-weight: 700;
    color: #6a6f72;
}

.newsletter .two_colmuns .right .btn_red
{
    background-color: #ff0000;
    color: #fff !important;
    display: grid;
    place-items: center;
    padding: 0px;
    width: 200px;
    height: 50px;
}

.parallax
{
    height: 380px;
    background-image: url(../images/parallax_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.parallax_container
{
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parallax_container h3
{
    font-size: 40px;
    font-weight: 700;
    color: #ffffff; 
}

.parallax_container p
{
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 40px;
}

.parallax_container .btn_white_red
{
    width: 200px;
    height: 50px;
    padding: 0;
    display: grid;
    place-items: center;
}

.rights
{
    height: 100px;
    background-color: #fff;
    font-size: 14px;
    color: #333739;
    display: grid;
    place-items: center;
}