*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body
{    
    color: #767070;
    background-color: #f9f9f9;
    /* background-image: url(../../JPG/01_BurgerHouse_OnePage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 9762px; */
}

.display_none
{
    display: none;
}

.display_block
{
    display: block;
}

.display_flex
{
    display: flex;
}
.fs_40
{
    font-size: 40px !important;
}

.fs_36
{
    font-size: 36px !important;
}

.fs_25
{
    font-size: 25px !important;
}
.fs_20
{
    font-size: 20px !important;
}


.fs_14
{
    font-size: 14px !important;
}

.fc_dark
{
    color: #322d2d;
}

.fc_light
{
    color: #fff;
}

.fc_light_2
{
    color: #bdbcbc;
}

.space_top
{
    padding-top: 90px;
}

.margin_top_section
{
    margin-top: 90px;
}
.raleway_bold
{
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
}

.raleway_regular
{
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400 !important;
}

.openSans_regular
{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
}

.openSans_bold
{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700 !important;
}

.bottom_title
{
    margin-bottom: 24px;
}

.lh_27
{
    line-height: 27px;
}

.standard_width
{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.standart_btn
{
    font-size: 14px;
    font-weight: 700;
    width: 200px;
    height: 50px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.standart_btn_150
{
    font-size: 14px;
    font-weight: 700;
    width: 150px;
    height: 50px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.btn_white_to_red
{
    border: 1px solid #fff;
    color: #fff !important;
}

.btn_white_to_red:hover
{
    border: 1px solid #ff1200 !important;
    background-color: #ff1200 !important;
}


.btn_red_to_red
{
    border: 1px solid #ff1200;
    color: #ff1200 !important;
}

.btn_red_to_red:hover
{
    border: 1px solid #ff1200 !important;
    background-color: #ff1200 !important;
    color: #fff !important;
}

.btn_red_to_red_2
{
    border: 1px solid #ff1200;
    color: #767070 !important;
}

.btn_red_to_red_2:hover
{
    border: 1px solid #ff1200 !important;
    background-color: #ff1200 !important;
    color: #fff !important;
}

.btn_white_to_red_3
{
    border: 1px solid #262c30;
    color: #fff !important;
    background-color: #191d20 !important;
}
.btn_white_to_red_3:hover
{
    border: 1px solid #ff1200 !important;
    background-color: #ff1200 !important;
}

.two_columns
{
    display: flex;
}
.column_left
{
    flex: 1;
}

.column_right
{
    flex: 1;
}

.bg_dark
{
    background-color: #191d20 !important;
}

header
{
    position: relative;
    z-index: 99;
}

.top_container
{
    width: 100%;
    background-color: #191d20;
}

.top_container .content
{
    height: 40px;
}
.top_container .two_columns
{
    height: inherit;
}

.top_container .column_left
{
    display: flex;
}

.top_container .column_right
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social_icon
{
    width: 40px;
    height: 40px;
    background-color: #333739;
    margin-right: 1px;
    text-decoration: none;
    display: grid;
    place-items: center;
}

.social_icon i
{
    color: #191d20;
    font-size: 20px;
}

.social_icon:hover
{
    background-color: #474c4f;
}

.social_icon:hover i
{
    color: #fff;
}

.top_container .column_right span
{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}


.navigation_container
{
    background-color: #fff;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    position: relative
}

.navigation
{
    width: 100%;
    height: 67px;
    border-top: 1px dashed #d7d7d7;
    border-bottom: 1px dashed #d7d7d7;
}

.menu nav
{
    display: flex;
    width: 100%;
}
.menu
{
    height: 100%;
    display: flex;
    align-items: center;
}
.menu ul
{
    display: flex;
    align-items: center;
}
.menu_left, .menu_right
{
    width: 435px;
    display: flex;
    justify-content: space-evenly;
}

.menu ul i
{
    font-size: 9px;
}
.menu li
{
    list-style: none;
}

.menu li a
{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #726666;
}

.menu li a:hover
{
    color: #fe0000;
}

.logo_container
{
    width: 300px;
    height: 85px;
    display: flex;
    justify-content: center;
}

.logo_bg
{
    z-index: 99;
    height: 152px;
    width: 300px;
    position: relative;
    filter: drop-shadow(0 7px 7px rgba(0,1,1,0.35));
}

.back_logo_bg
{
    display: flex;
    justify-content: center;
    position: relative;
    top: -85px;
    z-index: -1;
}

.back_logo_bg img
{
    position: absolute;
}

.mobile_navigation
{
    display: none;
}

.arrow_navigation
{
    display: none;
}

.logo
{
    position: absolute;
    top: calc(50% - 6px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_name
{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #2a2525;
    white-space: nowrap;
    line-height: 52px;
}

.line_red
{
    width: 100%;
    height: 2px;
    background-color: #ff1200;
}

.slogan
{
    font-size: 20px;
    color: #2a2525;
    white-space: nowrap;
    font-weight: 600;
    line-height: 24px;
}




.slider_width
{
    position: relative;
    margin: auto;
    max-width: 1920px;
    height: 600px;
    overflow: hidden;

}

.slide_btn
{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.slide_btn i
{
    color: #fff;
    font-size: 14px;
}

.slide_btn:hover
{
    background-color: #ff0000;
    border: 1px solid #ff0000;
}

#slideLeft, 
#slideRight
{
    top: 50%;
    transform: translate(0, -50%);
}

#slideLeft
{
    left: 50px;
}

#slideRight
{
    right: 50px;
}

.slide
{
    min-width: 1920px;
    height: 600px;
}

#slide01
{
    background-image: url(../images/bg_slide_01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#slide02
{
    background-image: url(../images/bg_slide_02.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#slide03
{
    background-image: url(../images/bg_slide_03.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.slider_container
{
    display: flex;
    width: fit-content;
    transition: all ease 0.3s;
}

.slide .two_columns
{
    height: inherit;
}

#slide01 .two_columns .column_left
{
    width: 500px;
    flex: none;
}

#slide01 .two_columns .column_right
{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

#slide01 .two_columns .column_right span
{
    margin-bottom: 14px;
}

#slide01 .two_columns .column_right .standart_btn
{
    margin-top: 30px;
    margin-bottom: 7px;
}


#slide02 .two_columns .column_left
{
    width: 500px;
    flex: none;
}

#slide02 .two_columns .column_left
{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

#slide02 .two_columns .column_left span
{
    margin-bottom: 14px;
}

#slide02 .two_columns .column_left .standart_btn
{
    margin-top: 30px;
    margin-bottom: 7px;
}


#slide03 span
{
    margin-bottom: 14px;
}

#slide03 .standart_btn
{
    margin-top: 30px;
    margin-bottom: 7px;
}


.welcome_container,
.Highlights_container,
.our_menu,
.other_services_container,
.team_container,
.blog_container,
.customers_container,
.partners
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome_cards
{
    width: 100%;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}
.welcome_card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 270px;
    text-align: center;
}
.welcome_card_icon
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ff0000;
    display: grid;
    place-content: center;
}

.welcome_card:hover .welcome_card_icon
{
    background-color: #ff0000;
}
.welcome_card:hover .welcome_card_title
{
    color: #ff0000 !important;
}

.meat
{
    background-image: url(../images/fresh_meet.png);
    background-position: center;
    background-repeat: no-repeat;
}

.welcome_card:hover .meat
{
    background-image: url(../images/fresh_meet_white.png);
}

.bread
{
    background-image: url(../images/bread.png);
    background-position: center;
    background-repeat: no-repeat;
}

.welcome_card:hover .bread
{
    background-image: url(../images/bread_white.png);
}


.salad
{
    background-image: url(../images/salad.png);
    background-position: center;
    background-repeat: no-repeat;
}

.welcome_card:hover .salad
{
    background-image: url(../images/salad_white.png);
}

.drink
{
    background-image: url(../images/drinks.png);
    background-position: center;
    background-repeat: no-repeat;
}

.welcome_card:hover .drink
{
    background-image: url(../images/drinks_white.png);
}


.welcome_card_title
{
    margin-top: 25px;
    margin-bottom: 8px;
    font-size: 20px;
    color: #322d2d !important;
}

.welcome_card_description
{
    font-size: 14px;
    line-height: 27px;
    color: #767070 !important;
}

.recommends_container
{
    margin-bottom: 140px;
}

.img_recommends_mobile,
.img_what_is_mobile
{
    display: none;
}
.recommends_container .column_left
{
    position: relative;
    width: 570px;
    flex: none;
}

.recommends_line_red
{
    width: 430px;
    height: 410px;
    border: 3px solid #ff1200;
}

.recommends_line_white
{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 390px;
    height: 370px;
    border: 3px solid #fff;
    border-top: none;
    border-left: none;
}

.recommends_container .column_left img
{
    z-index: -1;
    width: 430px;
    height: 410px;
    position: absolute;
    left: 40px;
    top: 40px;
}

.recommends_container .column_right
{
    display: flex;
    flex-direction: column;
    padding-left: 28px;
    padding-top: 92px;
}

.description
{
    line-height: 26px;
}

.mt_btn
{
    margin-top: 32px;
}

.what_is
{
    height: 448px;
    max-width: 1920px;
    margin: auto;
}


.what_is_container,
.what_is .two_columns
{
    height: inherit;
}

.what_is .column_left
{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
}

.what_is .column_right
{
    width: 570px;
    flex: none;
    background-image: url(../images/whatis_img.fw.png);
    background-size: cover;

}

.gallery_container,
.our_menu_container
{
    margin-top: 73px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery_menu,
.our_menu_menu
{
    display: flex;
}

.gallery_menu .standart_btn_150,
.our_menu_menu .standart_btn_150
{
    margin-right: 10px;
}

.gallery_menu .standart_btn_150:nth-last-child(1),
.our_menu_menu .standart_btn_150:nth-last-child(1)
{
    margin-right: 0;
}

.gallery_images
{
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.gallery_img
{
    max-width: 270px;
    max-height: 270px;
    border: 2px solid #ececec;
    margin-bottom: 30px;
    cursor: pointer;
}

.gallery_img img
{
    width: 266px;
    height: 266px;
}

.gallery_img:hover
{
    box-shadow: 
    3px 5px 5px rgba(0,1,1,0.15), 
    -3px 5px 5px rgba(0,1,1,0.15);
}

.gallery_img:hover .overlay_red
{
    display: flex;
}

.overlay_red
{
    position: absolute;
    display: none;
    width: 266px;
    height: 266px;
    z-index: 99;
    background-color: rgba(255, 18, 0, 0.85);
    justify-content: center;
    align-items: center;
}

.icon_outline
{
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-image: url(../images/link_gallery.png);
    background-repeat: no-repeat;
    background-position: center;
}

.see_what
{
    max-width: 1920px;
    margin: auto;
    height: 380px;
    margin-top: 100px;
    background-image: url(../images/see_what.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.see_what
{
    line-height: 47px;
}

.see_what_container
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.see_what_container .standart_btn
{
    margin-top: 41px;
    margin-bottom: 12px;
}

.our_menu .description
{
    text-align: center;
}

.our_menu_list
{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.our_menu_row
{
    width: 100%;
    height: 81px;
    background-color: #ececec;
    display: flex;
    border-bottom: 1px solid #f9f9f9;
    cursor: pointer;
    color: #322d2d;
}

.our_menu_row:hover
{
    background-color: #333739;
    color: #fff;
}

.item_name,
.item_description,
.item_price
{
    display: flex;
    align-items: center;
}

.item_name
{
    width: 270px;
    padding-left: 30px;
}

.item_description
{
    width: 800px;
}
.item_price
{
    flex: 1;
    justify-content: flex-end;
    padding-right: 30px;
}

.others_services
{
    max-width: 1920px;
    margin: auto;
    margin-top: 100px;
    height: 761px;
    text-align: center;
}

.other_services_container> .two_columns
{
    width: 100%;
    margin-top: 68px;
}

.other_services_container> .two_columns> .column_left
{
    padding-top: 25px;
    text-align: left;
}

.other_services_container> .two_columns> .column_right
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.services_row
{
    width: 570px;
    height: 50px;
    border: 1px solid #494e51;
    cursor: pointer;
    color: #fff !important;
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
}

.services_row:nth-child(1)
{
    margin-top: 0;
}
.services_row:hover
{
    background-color: #ff0000;
    border: 1px solid #ff0000;
}

.services_row.two_columns .column_left
{
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.services_row.two_columns .column_right
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 18px;
}

.service_description
{   
    width: 570px;
    border: 1px solid #494e51;
    text-align: left;
    padding: 37px;
    color: #bdbcbc !important;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 19px;
}

.team
{
    max-width: 1920px;
    margin: auto;
    background-color: #ececec;
    padding-bottom: 27px;
}


.team_container .description
{
    text-align: center;
}

.team_cards
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 73px;
}

.team_card
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team_img
{
    min-width: 270px;
    min-height: 270px;
    border-radius: 50%;
    border: 2px solid #ff1200;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.team_img img
{
    border-radius: 50%;
}

.team_img:hover .team_overlay_red
{
    display: flex;
}

.team_overlay_red
{
    display: none;
    width: 266px;
    height: 266px;    
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    background-color: rgba(255, 18, 0, 0.85);
    justify-content: center;
    align-items: center;
}

.team_name
{
    font-size: 20px;
    color: #322d2d;
    margin-top: 18px;
}

.team_position
{
    font-size: 14px;
    color: #767070;
    font-family: 'Open Sans', sans-serif !important;
}

.skill_container
{
    width: 100%;
    margin-top: 60px;
}
.skill_container .column_left
{
    display: flex;
    flex-direction: column;
    padding-top: 37px;
}
.skill_container .column_right
{
    display: flex;
    justify-content: center;
    padding-left: 30px;
}

.skill_title
{
    font-size: 14px;
    margin-bottom: 6px;
    color: #322d2d;
}

.skill_progress
{
    position: relative;
    width: 570px;
    height: 10px;
    background-color: #dcdcdc;
    margin-bottom: 18px;
}


.skill_progress span
{
    position: relative;
    top: -23px;
    font-size: 14px;
    font-weight: 700;
    color: #322d2d;

}


#skillProgress1
{
    width: calc(570px * 0.95);
    height: 10px;
    background-color: #ff0000;
    display: flex;
    justify-content: flex-end;
}

#skillProgress2
{
    width: calc(570px * 0.86);
    height: 10px;
    background-color: #ff0000;
    display: flex;
    justify-content: flex-end;
}

#skillProgress3
{
    width: calc(570px * 0.90);
    height: 10px;
    background-color: #ff0000;
    display: flex;
    justify-content: flex-end;
}



#skillProgress4
{
    width: calc(570px * 0.83);
    height: 10px;
    background-color: #ff0000;
    display: flex;
    justify-content: flex-end;
}

#skillProgress5
{
    width: calc(570px * 0.80);
    height: 10px;
    background-color: #ff0000;
    display: flex;
    justify-content: flex-end;
}

.blog
{
    max-width: 1920px;
    height: 882px;
    margin: auto;
}

.blog .description
{
    text-align: center;
}

.blog_cards
{
    width: 100%;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}
.blog_card
{
    position: relative;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.blog_card_img
{
    width: inherit;
    height: 250px;
}

.blog_card_content
{
    width: inherit;
    height: 220px;
    border: 1px solid #262c30;
    display: flex;
    flex-direction: column;
    padding: 27px;
}

.blog_cards .standart_btn
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.blog_card_title
{
    font-size: 20px;
    font-weight: 700;
    color: #fff !important;
    margin-bottom: 22px;
}
.blog_card_post_by
{
    font-style: italic;
    color: #d3d3d3;
    font-size: 12px;
    margin-bottom: 22px;
}

.blog_card_description
{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 20px;
}


.blog_card:hover .btn_white_to_red_3
{
    border: 1px solid #ff1200 !important;
    background-color: #ff1200 !important;
}

.blog_card:hover .blog_card_content
{
    background-color: #f9f9f9 !important;
    
    border: 1px solid #f9f9f9 !important;
}

.blog_card:hover .blog_card_title
{
    color: #322d2d !important;
}

.blog_card:hover .blog_card_post_by
{
    color: #9e9e9e !important;
}

.blog_card:hover .blog_card_description
{
    color: #767070 !important;
}

.customers_container
{
    margin-bottom: 100px;
}

.customers_container .description
{
    text-align: center;
}

.customers_width
{
    width: 100%;
    overflow: hidden;
    margin-top: 73px;
    margin-bottom: 50px;
}

.customers_cards
{
    display: flex;
    width: fit-content;
}

.customer_card
{
    width: 570px;
    height: fit-content;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    margin-right: 30px;
}

.customer_pic
{
    width: 158px;
    display: flex;
    justify-content: center;
    padding-top: 29px;
    padding-bottom: 29px;

}

.customer_pic_img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ff1200;
}

.customer_pic_img img
{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}


.customer_testimonial_container
{
    flex: 1;
    padding-top: 25px;
    padding-bottom: 21px;
}

.customer_name
{
    font-size: 20px;
    color: #322d2d;
    line-height: 26px;

}

.customer_city
{
    font-size: 14px;
    color: #ff1200;
    margin-bottom: 10px;
}

.customer_testimonial
{
    text-align: left;
    color: #767070 !important;
    line-height: 26px;

}


.dots
{
    display: flex;

}

.dot
{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #d4d4d4;
    margin-right: 5px;
    cursor: pointer;
}

.dot:nth-last-child(1)
{
    margin-right: 0;
}

.dot:hover
{
    border: 1px solid #ff1200;
    background-color: #ff1200;
}

.dot_active
{
    background-color: #ff1200;
    border: 1px solid #ff1200;
}

.reservation
{
    margin: auto;
    max-width: 1920px;
    height: 180px;
}

.reservation_container
{
    height: inherit;
    display: flex;
}


.reservation_right
{
    display: flex;
    align-items: center;
    flex: 1;
}

.reservation_left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 759px;
}

.reservation_left .fs_20
{
    margin-bottom: 10px;
}


.reservation_right .standart_btn
{
    margin-right: 10px;
}

.reservation_right .standart_btn:nth-last-child(1)
{
    margin-right: 0;
}
.partners
{
    margin-bottom: 100px;
}

.partners> span
{
    text-align: center;
}

.partners_width
{
    width: 100%;
    margin-top: 73px;
    margin-bottom: 50px;
}
.partners_cards
{
    display: flex;
}

.partners_card
{
    width: 185px;
    height: 80px;
    border: 1px solid #d4d4d4;
    display: grid;
    place-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.partners_card:nth-last-child(1)
{
    margin-right: 0;
}

.partners_card img
{
    opacity: 0.3;
}

.partners_card:hover img
{
    opacity: 1;
}

.newsletter
{
    max-width: 1920px;
    margin: auto;
    background-color: #333739;
}

.newsletter_container
{
    height: 120px;
}

.newsletter .two_colmuns
{
    display: flex;
    height: inherit;
}

.newsletter .two_colmuns .left
{
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    color: #fefefe;
    display: flex;
    align-items: center;
}

.newsletter .two_colmuns .right
{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.newsletter .two_colmuns .right input
{
    width: 375px;
    height: 50px;
    border: 1px solid #494e51;
    background-color: #333739;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    padding-left: 17px;
}

.newsletter .two_colmuns .right input:focus
{
    outline: none;
}

.newsletter .two_colmuns .right input::placeholder
{
    font-size: 14px;
    font-weight: 700;
    color: #6a6f72;
}

.newsletter .two_colmuns .right .btn_red
{
    background-color: #ff0000;
    color: #fff !important;
    display: grid;
    place-items: center;
    padding: 0px;
    width: 200px;
    height: 50px;
}

.parallax
{
    max-width: 1920px;
    margin: auto;
    height: 380px;
    background-image: url(../images/parallax_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parallax .standart_btn
{
    margin-top: 40px;
    margin-bottom: 10px;
}

.parallax span
{
    line-height: 47px;
}

.rights
{
    height: 100px;
    background-color: #fff;
    font-size: 14px;
    color: #333739;
    display: grid;
    place-items: center;
}

/*Tablet version*/
@media (min-width: 768px) and (max-width: 1024px)
{
    body
    {    
        /* background-image: url(../../JPG/29_BurgerHouse_Home_Tablet.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-position-y: 516px; */
        /* height: 9762px; */
    }


    .standard_width
    {
        max-width: 1024px;
        padding-left: 30px;
        padding-right: 30px;
        margin: auto;
    }

    .slider_width .standart_btn
    {
        font-size: 12px;
        width: 140px;
        height: 35px;
    }

    .fs_25
    {
        font-size: 15px !important;
    }

    .fs_36
    {
        font-size: 20px !important;
    }

    .logo_bg, .logo_bg img
    {
        width: 270px;
    }

    .back_logo_bg img
    {
        width: 300px;
    }

    .logo
    {
        top: calc(50% - 13px);
    }

    .menu li a
    {
        font-size: 16px !important;
    }

    .menu nav .menu_left
    {
        margin-right: 10px;
    }

    .menu nav .menu_right
    {
        margin-left: 10px;
    }


    .slider_width
    {
        position: relative;
        margin: auto;
        max-width: 1024px;
        height: 470px;
        overflow: hidden;
    }


    .slide
    {
        min-width: 1024px;
        height: 470px;
    }

    #slideLeft
    {
        left: 43px;
    }

    #slideRight
    {
        right: 43px;
    }


    #slide01
    {
        background-position: center;
        background-size: cover;
    }

    #slide01 .two_columns .column_left
    {
        width: 490px;
        flex: none;
    }

    #slide01 .two_columns .column_right .standart_btn 
    {
        margin-top: 16px;
        margin-bottom: 5px;
    }

    #slide01 .two_columns .column_right span 
    {
        margin-bottom: 9px;
    }


    #slide02 .two_columns
    {
        width: 790px;
    }

    #slide02 .two_columns .column_left .standart_btn 
    {
        margin-top: 16px;
        margin-bottom: 5px;
    }

    #slide02 .two_columns .column_left span 
    {
        margin-bottom: 9px;
    }

    #slide03 .standart_btn 
    {
        margin-top: 16px;
        margin-bottom: 5px;
    }

    #slide03 span 
    {
        margin-bottom: 9px;
    }

    #slide01
    {
        background-image: url(../images/bg_slide_01_tablet.png);
    }

    #slide02
    {
        background-image: url(../images/bg_slide_02_tablet.png);
    }

    

    #slide03
    {
        background-image: url(../images/bg_slide_03_tablet.png);
    }

    .welcome_card
    {
        max-width: 220px;
    }
    .recommends_container.standard_width.space_top
    {
        padding-left: 30px;
        padding-right: 0px;
    }


    .recommends_container.standard_width .two_columns,
    .what_is_container.standard_width .two_columns
    {
        flex-direction: row-reverse;
        padding-top: 0px;
    }

    .recommends_container.standard_width .two_columns .column_left div,
    .recommends_container.standard_width .two_columns .column_left img
    {
        display: none;
    }

    .recommends_container.standard_width .two_columns .column_left
    {
        background-image: url(../images/recommends_tablet.png);
        background-repeat: no-repeat;
        background-position: right;
        width: 502px;
        height: 348px;
    }

    .recommends_container .column_right
    {
        align-items: center;
        padding-left: 10px;
        padding-right: 20px;
        padding-top: 0px;
        
    }

    .recommends_container .column_right .fs_40
    {
        width: 100%;
        line-height: 30px;
        margin-bottom: 33px;
    }

    .recommends_container .column_right .description 
    {
        flex: 1;
    }


    .what_is
    {
        margin-top: 100px;
        height: 348px;
    }

    .what_is.bg_dark
    {
        background-color: #f9f9f9 !important;
    }

    .what_is_container.standard_width
    {
        padding-left: 0px;
        padding-right: 30px;
    }

    .what_is .column_right
    {
        width: 502px;
        height: 348px;
    }

    .what_is .column_right
    {
        background-image: url(../images/what_is_tablet.png);
    }

    .what_is .column_left
    {
        padding-top: 0;
        padding-left: 17px;
        padding-right: 10px;
        align-items: center;
    }

    .what_is .column_left .fs_40
    {
        line-height: 26px;
        margin-bottom: 35px;
    }
    
    .what_is .column_left .fs_40.fc_light
    {
        color: #322d2d !important;
    }

    .what_is .column_left span
    {
        width: 100%;
    }

    .what_is .column_left .description 
    {
        flex: 1;
    }

    .what_is .column_left .btn_white_to_red
    {
        border: 1px solid #ff1200;
        color: #ff1200 !important;
    }

    .what_is .column_left .btn_white_to_red:hover
    {
        
        border: 1px solid #ff1200 !important;
        background-color: #ff1200 !important;
        color: #fff !important;
    }

    .gallery_images
    {
        display: grid;
        width: 100%;
        flex-wrap: nowrap;
        grid-template-columns: auto auto auto auto;
    }

    .gallery_img
    {
        max-width: 230px;
        max-height: 230px;
        border: 2px solid #ececec;
        cursor: pointer;
        margin-bottom: 15px;
    }

    .gallery_img img
    {
        width: 226px;
        height: 226px;
    }

    .overlay_red
    {
        width: 226px;
        height: 226px;
    }

    .see_what
    {
        max-width: 1024px;
        height: 325px;
        margin-top: 100px;
        background-image: url(../images/see_what.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .gallery_container, .our_menu_container
    {
        align-items: normal;
    }
    .our_menu .standart_btn.btn_red_to_red
    {
        margin: auto;
    }

    .others_services> .column_left
    {
        width: 390px;
        padding-top: 10px;
    }

    .others_services .column_left img
    {
        width: 370px;
    }

    .team_img
    {
        scale: 0.8;
    }
    .team_card
    {
        width: 216px;
    }

    .team_name
    {
        margin-top: 0;
    }

    .blog_card
    {
        width: 300px;
    }

    .blog_card .blog_card_img img
    {
        width: inherit;
    }
    .blog_card_img
    {
        height: fit-content;
    }

    .customer_card
    {
        width: 860px;
    }

    .reservation
    {
        margin-top: 90px;
    }

    .reservation_left .fs_20
    {
        font-size: 16px !important;
    }

    .partners_card
    {
        width: 150px;
        height: 60px;
    }

    .partners_card img
    {
        width: 120px;
    }

    .newsletter
    {
        margin-top: 90px;
    }

    .newsletter .two_colmuns .right input
    {
        width: 280px;
    }

}

/*Mobile version*/
@media (max-width: 320px)
{

    body
    {    
        overflow-x: hidden; 
        /* background-image: url(../../JPG/30_BurgerHouse_Home_Mobile.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-position-y: 1198px;
        height: 5146px; */
    }

    .space_top
    {
        padding-top: 54px;
    }

    .bottom_title 
    {
        margin-bottom: 36px;
    }

    .fs_25
    {
        font-size: 7px !important;
    }

    .fs_36
    {
        font-size: 9px !important;
    }

    .fs_40
    {
        font-size: 28px !important;
    }

    .center_text
    {
        text-align: center;
    }

    .slider_width .standart_btn
    {
        font-size: 8px;
        width: 80px;
        height: 20px;
    }

    .standard_width
    {
        max-width: 320px;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto;
    }

    header,
    main
    {
        /* opacity: 0.3; */
    }

    .top_container
    {
        display: none;
    }

    .navigation 
    {
        border-top: 0;
        border-bottom: 0;
    }


    .menu_left,
    .menu_right,
    .menu ul
    {
        display: none;
    }

    
    .arrow_navigation
    {
        display: block;
        position: absolute;
        bottom: -9px;
        left: 50%;
        transform: translate(-50%, 100%);
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 28px 28.5px 0 28.5px;
        border-color: #ffffff transparent transparent transparent;
        cursor: pointer;
        transition: all ease 0.3s;

    }
  
    .arrow_navigation i
    {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -135%);
        color: #ff1200;
        font-size: 15px;
    }

    .mobile_navigation
    {
        position: absolute;
        top: 140px;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 280px;
        background-color: #fff;
        transition: all ease 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .mobile_item
    {
        font-size: 18px;
        font-weight: 500;
        color: #726666;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #d7d7d7;
        width: 100%;
    }

    .mobile_item:hover 
    {
        color: #ff1200;
    }

    .cart_menu_mobile
    {
        height: 35px;
        width: 100%;
        background-color: #191d20;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color: #fff;
    }

    .cart_menu_mobile img
    {
        margin-right: 10px;
    }









    .slider_width
    {
        position: relative;
        margin-top: 40px;
        max-width: 320px;
        height: 280px;
        overflow: hidden;
    }


    .slide
    {
        min-width: 320px;
        height: 280px;
    }

    #slideLeft
    {
        display: none;
    }

    #slideRight
    {
        display: none;
    }


    #slide01
    {
        background-position: center;
        background-size: cover;
    }

    #slide01 .two_columns .column_left
    {
        width: 140px;
        flex: none;
    }

    #slide01 .two_columns .column_right .standart_btn,
    #slide02 .two_columns .column_left .standart_btn,
    #slide03 .standart_btn

    {
        margin-top: 13px;
        margin-bottom: 3px;
    }

    #slide01 .two_columns .column_right span,
    #slide02 .two_columns .column_left span,
    #slide03 span 
    {
        margin-bottom: 6px;
    }


    #slide02 .two_columns
    {
        width: 790px;
    }


    #slide01
    {
        background-image: url(../images/bg_slide_01_mobile.png);
    }

    #slide02
    {
        background-image: url(../images/bg_slide_02_mobile.png);
    }


    #slide03
    {
        background-image: url(../images/bg_slide_03_mobile.png);
    }


    .welcome_cards
    {
        flex-wrap: wrap;
        justify-content: center;
    }

    .welcome_card
    {
        max-width: 270px;
        margin-bottom: 40px;
    }

    .welcome_card:nth-last-child(1)
    {
        margin-bottom: 0px;
    }


    .welcome_card_title
    {
        margin-top: 10px;
        margin-bottom: 2px;
        font-size: 20px;
        color: #322d2d !important;
    }

    .welcome_card_description
    {
        font-size: 14px;
        line-height: 18px;
        color: #767070 !important;
    }

    .recommends_container .column_left,
    .what_is .column_right
    {
        display: none;
    }

    .recommends_container .column_right,
    .what_is .column_left
    {
        padding-left: 0px;
        padding-top: 0px;
        align-items: center;
    }

    .recommends_container .column_right .fs_40 
    {
        width: 100%;
    }

    .img_recommends_mobile,
    .img_what_is_mobile
    {
        display: block;
        width: 300px;
        height: 190px;
    }

    .recommends_container .description,
    .what_is_container .description 
    {
        padding-top: 30px;
    }

    .what_is_container .two_columns
    {
        display: flex;
        flex-direction: column;
    }

    .what_is.bg_dark
    {
        background-color: transparent !important;
        height: auto;
        max-width: 320px;
    }

    .what_is .column_left
    {
        padding-top: 80px;
    }

    .what_is_container .two_columns .column_left .fc_light
    {
        color: #322d2d;
    }

    .what_is_container .two_columns .column_left .fc_light_2 
    {
        color: #767070;;
    }

    .what_is_container .btn_white_to_red
    {
        border: 1px solid #ff1200;
        color: #ff1200 !important;
    }

    .what_is_container .btn_white_to_red:hover
    {
        border: 1px solid #ff1200 !important;
        background-color: #ff1200 !important;
        color: #fff !important;
    }

    .gallery_container
    {
        align-items: flex-start;
    }

    .gallery_menu_width,
    .our_menu_menu_width
    {
        width: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
    }

    .gallery_menu .standart_btn_150,
    .our_menu_menu .standart_btn_150
    {
        width: 130px;
        min-width: 130px;
        height: 35px;
    }

    .gallery_menu .standart_btn_150:nth-child(1),
    .our_menu_menu .standart_btn_150:nth-child(1)
    {
        margin-left: 10px;
    }
    
    .gallery_images
    {
        justify-content:initial;
        margin-top: 85px;
    }

    .gallery_img
    {
        width: 300px;
        height: 300px;
        max-width: 300px;
        max-height: 300px;
    }
    .gallery_img .overlay_red,
    .gallery_img img 
    {
        width: 296px;
        height: 296px;
    }

    .see_what_container span br
    {
        display: none;
    }

    .see_what_container .standart_btn
    {
        margin-top: 35px;
        margin-bottom: 0px;
    }

    .see_what 
    {
        width: 320px;
        height: 338px;
        line-height: 38px;
    }

    .our_menu_row
    {
        display: grid;
        grid-template-columns: auto auto;
    }

    .item_name,
    .item_description 
    {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0px;
    }

    .item_description 
    {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        align-items: baseline;
    }

    .item_price 
    {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        padding-right: 10px;
        padding-left: 15px;
    }


    .our_menu_row .fs_20
    {
        font-size: 16px !important;
    }

}
